@import url('assets/lib/responsive.css');

:root {
    --primary: #060b1b;
    --success: #041240;

    --primary-hover: #2563EB;
    --secondary-hover: #163b8d;
    --tertiary-hover: #7ca1f3;

    --btn-primary: #6c97be;
    --card: #06112a;

    --secondary: #F8C8DC;
    --accent: #A7C7E7;
    --tertiary: #CFFFE5;

    --bg-main: #03050d;
    --bg-card: #151c29;
    --text-main: #E2E8F0;
    --text-secondary: #94A3B8;
    --border: #334155;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(180deg, var(--bg-main) 14.42%, var(--primary) 91.83%);
    margin: 0;
    padding: 5rem;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

/* Header */
.header {
    background-color: var(--success);
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 0 3rem;
    box-sizing: border-box;
}

.header .logo {
    background: url("assets/images/header_section/logo1.png") center/cover no-repeat;
    width: 4rem;
    height: 4.4rem;
}

nav {
    position: relative;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.nav-list li a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: var(--text-main);
    padding: 1rem 0.5rem;
    transition: color 0.3s ease, transform 0.2s ease, text-shadow 0.3s ease;
}

.nav-list li a:hover {
    color: var(--text-main);
    text-shadow: 0 0 10px var(--text-main);
    transform: scale(1.05);
}

.nav-list .contact {
    display: inline-block;
    background-color: var(--accent);
    color: var(--bg-main);
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

.nav-list .contact:hover {
    color: var(--bg-main);
    text-shadow: none;
    transform: scale(1.05);
    box-shadow: 0 4px 15px var(--accent);
}

.toggle_btn {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--text-secondary);
}

.dropdown_menu {
    position: absolute;
    top: 5rem;
    right: 0;
    width: 50%;
    max-width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.3s ease;
    list-style: none;
    z-index: 99;
    margin: 0;
    padding: 0;
    display: none;
}

.dropdown_menu.open {
    display: block;
    max-height: 500px;
    opacity: 1;
    overflow-y: auto;
}

.dropdown_menu li {
    text-align: center;
}

.dropdown_menu li a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.85);
    transition: all 0.3s ease;
    cursor: pointer;
}

.dropdown_menu li a:hover {
    color: var(--text-main);
    text-shadow: 0 0 10px var(--text-main);
}







