@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html{
  scroll-behavior:smooth;
}

body{
  margin:0;
  background-color: var(--background);
  color: var(--text);
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

:root {
  --background: #ffffff;
  --navbar: #ffffff;
  --hero: #f1f5f9;

  --surface: #f8fafc;
  --text: #0f172a;
  --text-secondary: #4d7fef;
  --subtext: #1e293b;
  --subtext-secondary: #145f97;
  --muted: #64748b;
  --primary: #0284c7;
  --border: #bfcde0;

  --first: #c90076;
  --second: #2986cc;
  --third: #6A329F;

  --footer-bg: #0f172a;
  --footer-text: #f1f5f9;
}

.front {
  color: var(--first);
}

.back {
  color: var(--second);
}

.soft {
  color: var(--third);
}

.hero-title {
  font-family: "Outfit", sans-serif;
  font-size: 50px;
  font-weight: 700;

  background: linear-gradient(
    90deg,
    var(--second),
    var(--first),
    var(--second)
  );

  background-size: 200%;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: gradientMove 4s infinite linear;

  padding: 0;
  margin: 0;
}

@keyframes gradientMove {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 200%;
  }
}

@media(max-width:768px){
  .hero-title{      
    font-size: 42px;
    text-align:center;
  }
}